<p id="notice"><%= notice %></p>

<h1><%= @destination.address %></h1>

<p><%= @destination.description %></p>

<p>
	<%= image_tag @destination.avatar.url, alt: "City Pic", width: "100%" %>
</p>

<div id="destination-map"></div>

<div class="btn-group">
	<%= link_to 'Edit', edit_destination_path(@destination), class: "btn btn-default" %>
	<%= link_to 'Back', destinations_path, class: "btn btn-default" %>
</div>

<%= javascript_tag do %>
 latitude = '<%= j @destination.latitude.to_s %>';
 longitude = '<%= j @destination.longitude.to_s %>';
 address = '<%= j @destination.address %>';
 description = '<%= j @destination.description %>';
<% end %>